{
    "mcpServers": {
      "context7": {
        "command": "npx",
        "args": ["-y", "@upstash/context7-mcp@latest"]
      },
      
      "taskmaster-ai": {
        "command": "npx",
        "args": ["-y", "--package=task-master-ai", "task-master-ai"],
        "env": {
          "GOOGLE_API_KEY": "your_google_api_key_here",
          "OPENROUTER_API_KEY": "your_openrouter_api_key_here"
        }
      }
    }
} 